u2/ex2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <!-- Complex type -->
    <xsd:element name="olympics">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="sports" type="sportListType"/>
                <!-- Simple element with default value -->
                <xsd:element name="description" type="descriptionType" default="Lorem ipsum dolor sit amet"/>
            </xsd:sequence>
            <!-- Required attributes -->
            <xsd:attribute name="year" type="xsd:gYear" use="required"/>
            <xsd:attribute name="city" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="sportListType">
        <xsd:sequence>
            <xsd:element name="sport" type="sportType" maxOccurs="unbounded">
                <!-- Key constraint - player refers to a teammate so their performance is better -->
                <xsd:key name="playerKey"> 
                    <xsd:selector xpath="teams/players/player"/> 
                    <xsd:field xpath="@id"/>
                </xsd:key>
                <xsd:keyref name="empRef" refer="playerKey">
                     <xsd:selector xpath="teams/players/player"/> 
                     <xsd:field xpath="@ref"/> 
                </xsd:keyref>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="sportType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="teams" type="teamsListType" minOccurs="0"/>
                <xsd:element name="athletes" type="athleteListType" minOccurs="0"/>
            </xsd:choice>
        </xsd:sequence>
        
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
        <xsd:attribute name="type" use="required">
            <xsd:simpleType>
                <!-- Additional restriction - enumeration -->
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="team"/>
                    <xsd:enumeration value="solo"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>

    </xsd:complexType>

    <xsd:complexType name="teamsListType">
        <xsd:sequence>
            <xsd:element name="team" type="teamType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="teamType">
        <xsd:sequence>
            <!-- Simple element -->
            <xsd:element name="coach" type="xsd:string"/>
            <xsd:element name="players" type="playerListType"/>
        </xsd:sequence>
        <xsd:attribute name="country" type="countryType" use="required"/>
    </xsd:complexType>

    <!-- Restriction example: country name pattern -->
    <xsd:simpleType name="countryType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z\s]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="playerListType">
        <xsd:sequence>
            <xsd:element name="player" type="playerType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="playerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:ID" use="required"/>
                <!-- Optional attribute -->
                <xsd:attribute name="ref" type="xsd:IDREF" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="athleteListType">
        <xsd:sequence>
            <xsd:element name="athlete" type="AthleteType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AthleteType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="medals" type="medalsType"/>
        </xsd:sequence>
        <!-- Attribute with default value -->
        <xsd:attribute name="country" type="countryType" use="optional" default="Not specified"/>
    </xsd:complexType>

    <xsd:complexType name="medalsType">
        <xsd:sequence>
            <xsd:element name="gold" type="medalCount"/>
            <xsd:element name="silver" type="medalCount"/>
            <xsd:element name="bronze" type="medalCount"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Numeric restriction using named type -->
    <xsd:simpleType name="medalCount">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="descriptionType" mixed="true">
        <!-- Order indicator and occurent indicator -->
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="h1" type="xsd:string"/>
            <xsd:element name="date" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>



</xsd:schema>
